<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script type="text/javascript" src="/webjars/htmx.org/dist/htmx.min.js"></script>
        <script type="text/javascript" src="/webjars/htmx-ext-sse/dist/sse.min.js"></script>
        <div>TODO HTMX goop</div>
        <br/>

        <div hx-ext="sse" sse-connect="/sse/stream1">
            <ul id="myList" sse-swap="message" hx-swap="beforeend">
                <li>Existing Item 1</li>
            </ul>
        </div>        

    </body>
</html>
